/*[text-wrap]{
  &.sc-ion-label-md-h,
  &.sc-ion-label-ios-h{
      font-size: 13px;
  }
}
.width70{
	width:70px;
}
.width170{
	width:170px;
}*/

.table-maxheight{
	max-height:364px;
	overflow-y:scroll;
}