<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" text-left  class="sg-logo" float-left>
       <img src="/assets/SG-Logo.png" float-left />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
    <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
 <ion-card-header color="primary" text-uppercase>
 	<div class="container">Document Detail</div>
 </ion-card-header>
<ion-grid class="container" no-padding>
<ion-row >
<ion-col>
	 <div class="sg-form">
		<ul class="list-decimal">
		  <li>Educational certificates and Mark lists
		  	<ul class="list-square">
			  <li><ion-text color="primary">UG and PG (mark sheets, Provisional certificates, Convocation certificates)</ion-text></li>
			</ul>

		  </li>
		  <li>Employment certificates previous two employers

			<ul class="list-square">
			  <li><ion-text color="primary">Offer /Appointment Letters</ion-text></li>
			  <li><ion-text color="primary">Relieving Letters and Experience / Service Certificates</ion-text></li>
			</ul>
		  </li>
		  <li> Id Proofs
		  	<ul class="list-square">
			  <li><ion-text color="primary">Pan card</ion-text></li>
			  <li><ion-text color="primary">Aadhar card</ion-text></li>
			</ul>
		  </li>
		  <li>Previous Provident Fund and F.P.F. (if applicable) numbers</li>
		  <li>NON Solicitation, NON Disclosure Agreement Signed with Previous Employer ( if any )</li>
		  <li>Photo Requirement
		  	<ul class="list-square">
			  <li><ion-text color="primary">2 hard copy passport size photos</ion-text></li>
			  <li><ion-text color="primary">1 soft copy photo, which strictly follows below guidelines:</ion-text>
			  		<ul class="list-circle">
					  <li>Photo must be 2 inches by 2 inches.</li>
					  <li>Dressed in formals only.</li>
					  <li>Background color in SG Cobalt Light Blue (Color Code Pantone 301) free of patterns,textures, objects .etc.</li>
					  <li>Face ratio and background color exactly matching attached sample.</li>
					  <li>JPEG Image format (sample is attached for your reference)</li>
					  <li>Scanned photo OR photo taken of hard copy will not be accepted</li>
					</ul>
			  </li>
			</ul>
		  </li>	  
		</ul>
		<ion-slides>
		    <ion-slide class="step-one">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>

		    <ion-slide class="step-two">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>

		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		    <ion-slide class="step-three">
		        <ion-img src="assets/default-user.jpg" width="100"></ion-img>
		        <p>Text</p>
		    </ion-slide>
		</ion-slides>
		<ion-row margin-top>
	          <ion-col>	            
	             <ion-icon name="ios-arrow-dropleft-circle" class="back-btn" color="secondary" routerLink="/experiencedetail"></ion-icon>
	          </ion-col>
	          <ion-col>                   
	            <ion-button ion-button shape="round" color="secondary" float-right>SAVE</ion-button>
	          </ion-col>
	        </ion-row>
	 </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
